@font-face{
    font-family: "ObelixPro"; 
    src:local('OBELIXPROBIT-CYR.tff'), url("https://blaezai.github.io/Mutants-and-Masterminds-Character-Sheet/Fonts/ObelixPro.ttf") format('truetype');
  }
  .sheet-rolltemplate-mm_generic{
      background-color: darkgoldenrod;
  }
  .sheet-rolltemplate-mm_generic .sheet-generic-header,
.sheet-rolltemplate-mm_generic * {
    font-family: "ObelixPro";
}